---
import { SITE_TITLE, SITE_EMAIL, SITE_EMAIL_MAILTO } from "../consts";
const { theme } = Astro.props;
import { SITE_NAME } from "../consts";
const date = new Date();
const year = date.getFullYear();
---

<div class:list={["footer-main", { "footer-dark": theme === "dark" }]}>
  <div class="content-body footer-wraper">
    <div class="footer-box">
      <div class="foot-nav">
        <div class="foot-nav-items">
          <div class="item">
            <div class="logo">{SITE_TITLE}</div>
            <div class="email">Email: <a href={SITE_EMAIL_MAILTO}>{SITE_EMAIL}</a></div>
          </div>

          <div class="item products">
            <div class="item-title">作品</div>
            <a href="/" target="_blank">本站</a>
            <a href="https://hakubill.tech" target="_blank">个人主页</a>
            <a href="https://pizzastudio.org" target="_blank">Pizza Studio</a>
          </div>

          <div class="item community">
            <div class="item-title">社媒</div>
            <a href="https://twitter.com/Haku_Bill" target="_blank">Twitter</a>
            <a href="https://github.com/Bill-Haku" target="_blank">Github</a>
            <a href="https://space.bilibili.com/158463764" target="_blank">Bilibili</a>
          </div>

          <div class="item resources">
            <div class="item-title">友链</div>
            <a href="http://zhuaiyuwen.hakubill.tech">之外语文</a>
          </div>
        </div>
      </div>
      <div class="bottom">
        <div class="copyright">
          建议使用 Safari 17.0 或更高版本的浏览器访问<br>
          为了更好的浏览体验，请确保您的网络环境能访问<a href="https://www.google.com">Google</a>、<a href="https://youtube.com">YouTube</a>等网站<br>
          Copyright &copy; {`2022-${year}  ${SITE_NAME}`}
          <a href="https://hakubill.tech">Bill Haku</a><br>
          <a href="https://icp.gov.moe/?keyword=20239361" target="_blank">萌ICP备20239361号</a>
        </div>
      </div>
    </div>
  </div>
</div>
